.tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: min(1200px, 80dvw);
}

.toolPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
    background-color: var(--bg-color-00);
    border: 1px solid var(--bg-color-50);
    border-radius: var(--border-radius);
    padding: 2.5rem;
}

.toolPage button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: var(--bg-color-00) !important;
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 0.5rem;
}

.toolPage button * {
    color: var(--bg-color-00) !important;
    width: 1rem;
    height: 1rem;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.controlsRow {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.controlsRow input[type="text"] {
    width: 100%;
}

.divider {
    width: 1px;
    height: 2rem;
    background-color: var(--bg-color-50);
    border: none;
}

.donationContainer {
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.donateButton {
    text-decoration: none;
    box-shadow: var(--shadowElevation_1);
    background-color: var(--color-accent-00);
    color: var(--bg-color-00);
    border: 1px solid var(--bg-color-50);
    border-radius: var(--border-radius);
    padding: .4rem .8rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: var(--shadowElevation_1);
        background-color: var(--color-accent-10);
        color: var(--bg-color-00);
    }
}

@media (max-width: 850px) {
    .donationContainer {
        font-size: medium;
    }
}

@media (max-width: 700px) {
    .tools {
        width: 100%;
    }

    .toolPage {
        border-radius: 0;
        border-left: none;
        border-right: none;
        padding: 1rem;
        padding-bottom: 4rem;
        gap: 2rem;
    }
}

@media (max-width: 700px) {
    .tools {
        width: 100%;
    }

    .toolPage {
        border-radius: 0;
        border-left: none;
        border-right: none;
        padding: 2rem;
        gap: 2rem;
    }
}

@media (max-width: 600px) {}