.fcPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.fcPage .fc-header-toolbar {
    padding: 0;
    margin: 0 !important;
    height: 0;
    min-height: 0;
    max-height: 0;
    overflow: hidden;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.677);
}

.fcPage .calendar-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    min-height: 1vh;
}

.fcPage .fc {
    min-height: 1vh;
    flex-grow: 1;
    --fc-button-bg-color: #c54141;
    --fc-button-text-color: #fff;
    --fc-button-border-color: #c54141;
    --fc-button-hover-bg-color: #a03c3c;
    --fc-button-hover-border-color: #a03c3c;
    --fc-button-active-bg-color: #8c3333;
    --fc-button-active-border-color: #8c3333;
    --fc-today-bg-color: rgba(255, 40, 40, 0);
    --fc-event-bg-color: #b74f4f;
    --fc-event-border-color: #b74f4f;
    user-select: none;
}

.fcPage .fc-timegrid-now-indicator-line.CustomNowIndicator {
    border-width: 2px 0 0;
    border-radius: 8px;
}

.fcPage .fc-v-event .fc-event-main-frame {
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.fcPage .fc-v-event .fc-event-main-frame .fc-event-title-container {
    flex-grow: 0;
}

.fcPage .fc-v-event .fc-event-main-frame .fc-event-title {
    white-space: nowrap;
}

.fcPage .fc .fc-daygrid-body-natural .fc-daygrid-day-events {
    margin-bottom: 0.5rem;
}

.fcPage .calendar-nav-button {
    --height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2rem;
    height: var(--height);
    position: absolute;
    top: calc(50vh - var(--height) / 2);
    bottom: calc(50vh - var(--height) / 2);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.fcPage .calendar-nav-button:hover {
    opacity: 1;
}

.fcPage .calendar-right-button {
    right: 0.8rem;
}

.fcPage .calendar-left-button {
    left: 0rem;
}

.fcPage .fc-theme-bootstrap5 .fc-list,
.fcPage .fc-theme-bootstrap5 .fc-scrollgrid,
.fcPage .fc-theme-bootstrap5 td,
.fcPage .fc-theme-bootstrap5 th {
    border-color: var(--bs-border-color);
}

.fcPage .fc-event {
    --bs-btn-box-shadow: ;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #00000080;
    outline: var(--bs-border-color) solid 1.5px;
}

.fcPage .fc-timegrid-event .fc-event-main {
    padding: 1px 4px 0px;
}

.fcPage .fc .fc-timegrid-slot-minor {
    border-top-style: none;
}

.fcPage .fc .fc-timegrid-slot-label.night {
    background-color: #dce4fe;
}

.fcPage .fc .fc-timegrid-slot-label:not(.night) {
    background-color: #fef7dc;
}

.fcPage .fc .fc-timegrid-slot-label.fc-timegrid-slot-minor {
    font-size: 0.6rem;
    text-align: center;
    font-style: italic;
}

.fcPage .fc .fc-bg-event {
    opacity: 0.8 !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    outline-width: 1px !important;
}

.fcPage .fc-direction-ltr .fc-timegrid-col-events {
    margin: 0px 5% 0px 5px;
}

.fcPage .fc-timegrid-event-short .fc-event-time {
    display: none;
}

.fcPage .fc-timegrid-event-short .fc-event-main {
    padding: 0px 4px 0px;
}

.fcPage .fc-timegrid-event-short .fc-event-main-frame {
    justify-content: center;
}

.fcPage .fc-timegrid-event-short .fc-event-title {
    line-height: .85em;
}

.fcPage:not(.fcPageWeather) .fc-event.fc-event-past {
    filter: saturate(0.3) brightness(1.6);
    background-color: transparent;
    color: var(--bs-secondary-color);
    --fc-event-text-color: #3b3a3a;
}