.toolPage {
    gap: 2rem;
    padding-bottom: 5rem;
}

@media (max-width: 850px) {}

@media (max-width: 700px) {
    .toolPage {
        padding-bottom: 0;
    }
}

@media (max-width: 600px) {
    .toolPage h1 {
        margin-top: 1rem;
    }
}

@media (max-width: 400px) {}