body {
  margin: 0;
  font-family: Fira Code, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root,
[data-bs-theme=light] {
  --bs-border-color: #000;
}

.btn-primary {
  border-width: 1px;
  --bs-btn-color: #fff;
  --bs-btn-bg: #5da373;
  --bs-btn-gap: 0.4rem;
  --bs-btn-border-color: black;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #74d29b;
  --bs-btn-hover-border-color: black;
  --bs-btn-focus-shadow-rgb: 95, 203, 126;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #348557;
  --bs-btn-active-border-color: black;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #69a776;
  --bs-btn-disabled-border-color: black;
  --bs-btn-box-shadow: inset 0 2px 0 #ffffff26, 0 2px 2px #0000004f;
  --bs-btn-border-radius: var(--bs-border-radius-lg);
  box-shadow: var(--bs-btn-box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--bs-btn-gap);
}